@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~_common/constants.scss';
@import '~_components/Body/style.scss';
@import '~_components/BodyRow/style.scss';
@import '~_components/ShareButton/style.scss';
@import '~_components/ShareList/style.scss';
@import '~_components/Footer/style.scss';
@import '~_components/Label/style.scss';

body {
  min-width: 394px;
  margin: 0;
  color: $default-color;
}

.color-red {
  color: hsl(6, 63%, 46%);
}
