.backdrop {
  display: flex;
  z-index: 1;

  align-items: center;
  justify-content: center;

  color: white;
  font-size: 25px;
  font-weight: 600;

  background-color: black;
  opacity: 0.8;

  @include absolute-fill();
}
