.fill {
  min-height: 100%;
  height: 100%;
}

.container-fluid {
  display: table;
  text-align: center;
  bottom: 30px;
  height: calc(100% - 30px);
  min-height: calc(100% - 30px);
}

.container-fluid > * {
  display: table-cell;
  vertical-align: middle;
}

.footer {
  height: 30px;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: 'Exo', sans-serif;
}

.contents > .row {
  padding-bottom: 10px;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.ellipsis {
  text-align: left;
  width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
