.explorer-tree {
  border-right: solid #a0a0a0 2px;
  padding-top: 20px;
}

.explorer-tree-item {
  padding: 10px;
  display: block;
}

.explorer-tree-item > span {
  color: #000000;
}

.explorer-tree-time-img {
  height: 100%;
  width: 100%;
  max-height: 80px;
  max-width: 80px;
}

.explorer-main {
  height: 100%;
  padding: 20px;
}

.explorer-main > .dropzone {
  height: 100%;
  width: 100%;
  display: table;
  border: 0px;
}

.explorer-main > .dropzone > * {
  display: table-cell;
  vertical-align: middle;
}

.upload {
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: seagreen;
  color: white !important;
}