.file-explorer__list-wrapper {
  &:focus {
    outline: none;
  }
  .file-explorer__list-wrapper__contents {
    height: 350px;
    background-color: hsl(192, 15%, 94%);
    overflow-y: auto;

    @include default-ul;
  }
  .file-explorer__list-wrapper__input-file {
    display: none;
  }
}
