.content {
  display: table;
}

.content-items {
  display: table-cell;
  vertical-align: middle;
}

.content-item {
  padding-bottom: 20px;
}

.rotate-animation {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.share-social-btns {
  text-align: center;
}

.share-social-btns > a {
  cursor: pointer;
  padding-left: 20px;
  color: #95a5a6;
}

.share-social-btns > a:hover {
  color: #7f8c8d;
}
