.explorer-tree {
  background-color: #f2f2f2;
  padding: 15px;
  height: 20%;
}

.explorer-tree-item {
  padding: 10px;
  display: block;
  height: 100%;
}

.explorer-tree-item > div > p {
  color: #000000;
  margin: 0px;
  font-size: small;
}

.explorer-tree-time-img {
  height: 100%;
  width: 100%;
  max-height: 50px;
  max-width: 60px;
}

.explorer-main {
  height: 80%;
  min-height: 80%;
  padding: 20px;
}

.pre-scrollable{
  max-height: 100%;
}

.explorer-main > .dropzone {
  width: 100%;
  border: 0px;
}

.explorer-main > .dropzone > * {
  vertical-align: middle;
}

.dropzone {
  padding: 9px;
}

.dropzone > .dz-preview {
  margin: 15px;
}

.dropzone .dz-preview .dz-error-message {
  top: 150px !important;
}

.upload {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 80px;
  right: 40px;
  color: white !important;
}

.overlay {
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  z-index: 600;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.result {
  display: table-cell;
  vertical-align: middle;
}

.result-item {
  padding-bottom: 20px;
}

#download-url {
  font-size: x-large;
  font-weight: bold;
}

#copy-btn {
  cursor: pointer;
}

.share-social-btns {
  text-align: center;
}

.share-social-btns > a {
  cursor: pointer;
  padding-left: 20px;
  color: #ecf0f1;
}

.share-social-btns > a:hover {
  color: #95a5a6;
}

@media only screen
and (min-device-width: 768px) {
  .dropzone > .dz-preview {
    margin: 30px;
  }

  .explorer-tree {
    height: 100%;
  }

  .explorer-tree-item{
    height: auto;
  }

  .explorer-main {
    height: 100%;
    min-height: 100%;
  }
}
