@mixin body__row__col() {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  > * {
    @include margin-between(8);
  }
  
  a {
    @include not-deco-link();
  }
}

.body__row__col {
  @include body__row__col();
}

.body__row__col--center {
  @include body__row__col();
  justify-content: center;
}

.body__row__col--right {
  @include body__row__col();
  justify-content: flex-end;
}
