@import '~_common/mixin.scss';

@mixin body-row-col {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  > * {
    @include margin-between(8);
  }

  a {
    @include not-deco-link;
  }
}

.body__row__col {
  @include body-row-col;
  &--between {
    @include body-row-col;
    justify-content: space-between;
  }
  &--right {
    @include body-row-col;
    justify-content: flex-end;
  }
  &--center {
    @include body-row-col;
    justify-content: center;
  }
}
