.file-explorer__file {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-bottom: solid 1px hsl(204, 8%, 76%);

  & > * {
    display: flex;
    align-items: center;
  }

  .file-explorer__file__left-item__path {
    @include ellipsis(240)
  }

  .file-explorer__file__right-item {
    .file-explorer__file__right-item__size {
      margin-right: 8px;
    }

    .file-explorer__file__right-item__delete {
      display: flex;
      align-items: center;
    }
  }
}
